<div class="flex flex-col p-5 space-y-3">
  <div class="flex flex-col">
    <label for="title" class="uppercase text-xs text-gray-400">
      chart title
    </label>
    <input type="text" id="title" class="border-b border-gray-200 p-2" />
  </div>
  <div class="flex flex-col">
    <label for="title" class="uppercase text-xs text-gray-400">data</label>
    <table class="mt-5">
      <thead class="text-left text-xs text-gray-500">
        <th></th>
        <th>Item</th>
        <th></th>
        <th>Value</th>
        <th></th>
      </thead>
      <tbody>
        <!-- <tr>
          <th>Delete</th>
        </tr> -->
        <tr toolbar-data-item></tr>
      </tbody>
    </table>
  </div>
</div>
