<ng-container [formGroup]="dataItemForm">
  <td class="w-4 h-9">
    <div [hidden]="!(onHover$ | async)">
      <svg class="w-3 h-9" viewBox="0 0 9 35">
        <path
          id="Polygon 1"
          (click)="onShiftOrder.emit('up')"
          class="hover:bg-black cursor-pointer"
          d="M4.5 0L0.602886 14.25H8.39711L4.5 0Z"
          fill="#C4C4C4"
        />
        <path
          (click)="onShiftOrder.emit('down')"
          id="Polygon 3"
          class="cursor-pointer"
          d="M4.5 35L8.39711 20.75H0.602886L4.5 35Z"
          fill="#C4C4C4"
        />
        <circle id="Ellipse 1" cx="1.5" cy="15.5" r="0.5" fill="#C4C4C4" />
        <circle id="Ellipse 2" cx="3.5" cy="15.5" r="0.5" fill="#C4C4C4" />
        <circle id="Ellipse 3" cx="5.5" cy="15.5" r="0.5" fill="#C4C4C4" />
        <circle id="Ellipse 4" cx="7.5" cy="15.5" r="0.5" fill="#C4C4C4" />
        <circle id="Ellipse 6" cx="1.5" cy="17.5" r="0.5" fill="#C4C4C4" />
        <circle id="Ellipse 7" cx="3.5" cy="17.5" r="0.5" fill="#C4C4C4" />
        <circle id="Ellipse 8" cx="5.5" cy="17.5" r="0.5" fill="#C4C4C4" />
        <circle id="Ellipse 9" cx="7.5" cy="17.5" r="0.5" fill="#C4C4C4" />
        <circle id="Ellipse 11" cx="1.5" cy="19.5" r="0.5" fill="#C4C4C4" />
        <circle id="Ellipse 12" cx="3.5" cy="19.5" r="0.5" fill="#C4C4C4" />
        <circle id="Ellipse 13" cx="5.5" cy="19.5" r="0.5" fill="#C4C4C4" />
        <circle id="Ellipse 14" cx="7.5" cy="19.5" r="0.5" fill="#C4C4C4" />
      </svg>
    </div>
  </td>
  <td>
    <input
      type="text"
      class="text-sm p-1 w-40"
      formControlName="item"
      placeholder="Type to add.."
    />
  </td>
  <td>
    <input
      type="text"
      class="w-6/12 text-sm p-1 rounded-md"
      formControlName="value"
    />
  </td>
  <td>
    <input
      class="w-4 h-4 mx-2 cursor-pointer"
      [colorPicker]="color$ | async"
      (colorPickerChange)="handleColorChange($event)"
      [style.background]="color$ | async"
    />
  </td>
  <td class="w-6 h-5">
    <div (click)="onDelete.emit()" [hidden]="!(onHover$ | async)">
      <svg class="w-5 h-5" [hidden]="false" role="button" viewBox="0 0 24 24">
        <path
          fill="lightgray"
          d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z"
        />
      </svg>
    </div>
  </td>
</ng-container>
